{% include 'overall_header.html' %}

<h1>{{ lang('ACP_PICSBOX_TITLE') }}</h1>
<p>{{ lang('ACP_PICSBOX_EXPLAIN') }}</p>

<fieldset id="acp_picsbox_stats">
	<legend>{{ lang('ACP_PICSBOX_STATS_TITLE') }}</legend>
	<dl>
		<dt>
			<strong>{{ lang('ACP_PICSBOX_STATS_COUNT_IMAGES') }}</strong>
		</dt>
		<dd>
			{{ PICSBOX_COUNT_IMAGES }}
		</dd>
	</dl>
	<dl>
		<dt>
			<strong>{{ lang('ACP_PICSBOX_STATS_COUNT_ORPHANS') }}</strong>
		</dt>
		<dd>
			{{ PICSBOX_COUNT_ORPHANS }}
		</dd>
	</dl>
</fieldset>
<form id="acp_picsbox_settings" method="post" action="{{ U_ACTION_SETTINGS }}">
	<fieldset>
		<legend>{{ lang('ACP_PICSBOX_CONFIG') }}</legend>
		<dl>
			<dt>
				<label for="picsbox_image_path">{{ lang('ACP_PICSBOX_IMAGE_PATH') }}</label><br/>
				{{ lang('ACP_PICSBOX_IMAGE_PATH_EXPLAIN',
				constant('ady\\picsbox\\constant\\config::DEFAULT_IMAGE_PATH')) }}
			</dt>
			<dd>
				<input type="text" name="picsbox_image_path" id="picsbox_image_path" value="{{ PICSBOX_IMAGE_PATH }}"/>
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="picsbox_upload_size">{{ lang('ACP_PICSBOX_UPLOAD_MAX_SIZE') }}</label><br/>
				{{ lang('ACP_PICSBOX_UPLOAD_MAX_SIZE_EXPLAIN',
				constant('ady\\picsbox\\constant\\config::DEFAULT_UPLOAD_MAX_SIZE')) }}
			</dt>
			<dd>
				<input type="number" name="picsbox_upload_size" id="picsbox_upload_size"
					   value="{{ PICSBOX_UPLOAD_MAX_SIZE }}"/>
			</dd>
		</dl>
		<dl>
			<dt><label for="picsbox_original_size">{{ lang('ACP_PICSBOX_ORIGINAL_SIZE_LABEL') }}</label><br/>
				{{ lang('ACP_PICSBOX_ORIGINAL_SIZE_EXPLAIN') }}
			</dt>
			<dd>
				<label>
					<input
							type="radio"
							name="picsbox_original_size"
							value="1"
							{{ PICSBOX_ALLOW_ORIGINAL_SIZE ? 'checked' : '' }}
					/>
					{{ lang('YES') }}
				</label>
				<label>
					<input
							type="radio"
							name="picsbox_original_size"
							id="picsbox_original_size"
							value="0"
							{{ PICSBOX_ALLOW_ORIGINAL_SIZE ? '' : 'checked' }}
					/>
					{{ lang('NO') }}
				</label>
			</dd>
		</dl>
	</fieldset>
	<fieldset>
		<p class="submit-buttons">
			<input class="button1" type="submit" name="submit" value="{{ lang('SUBMIT') }}"/>&nbsp;
			<input class="button2" type="reset" name="reset" value="{{ lang('RESET') }}"/>
			{{ S_FORM_TOKEN }}
		</p>
	</fieldset>
</form>
<form id="acp_picsbox_purge" method="post" action="{{ U_ACTION_REMOVE }}">
	<fieldset>
		<legend>{{ lang('ACP_PICSBOX_PURGE_TITLE') }}</legend>
		<dl>
			<dt><label for="picsbox_images_purge">{{ lang('ACP_PICSBOX_PURGE_LABEL') }}</label><br/>{{
				lang('ACP_PICSBOX_PURGE_EXPLAIN') }}
			</dt>
			<dd>
				<label>
					<input type="radio" name="picsbox_images_purge" value="1"/> {{ lang('YES') }}
				</label>
				<label>
					<input type="radio" name="picsbox_images_purge" id="picsbox_images_purge" value="0" checked/>
					{{ lang('NO') }}
				</label>
			</dd>
		</dl>
	</fieldset>
	<fieldset>
		<p class="submit-buttons">
			<input class="button1" type="submit" name="submit" value="{{ lang('SUBMIT') }}"/>&nbsp;
			<input class="button2" type="reset" name="reset" value="{{ lang('RESET') }}"/>
			{{ S_FORM_TOKEN }}
		</p>
	</fieldset>
</form>
<fieldset>
	<p><small>{{ lang('PICSBOX_TAB_COPYRIGHT') }}</small></p>
</fieldset>

{% include 'overall_footer.html' %}
