#picsbox-panel .picsbox-upload-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#picsbox-panel #picsbox-result {
    display: none;
}

#picsbox-panel label[for="picsbox-upload"] {
    background-color: #a1a1a1;
    color: black;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
}

#picsbox-panel #file-chosen {
    margin-left: 0.3rem;
    font-family: sans-serif;
}

#picsbox-panel .picsbox-bbcode-container {
    margin-bottom: 10px;
}

#picsbox-panel button#picsbox-copy,
#picsbox-panel input#picsbox-bbcode-image {
    padding: 6px;
    border-radius: 10px;
    outline: none;
}

#picsbox-panel input#picsbox-bbcode-image {
    width: 80%;
    cursor: default;
    border: 2px solid #a1a1a1;
    transition: all 0.3s ease-in-out;
    background: #d0d0d0;
    color: black;
}

#picsbox-panel input#picsbox-bbcode-image:focus {
    border-color: #6a6a6a;
}

#picsbox-panel button#picsbox-copy {
    cursor: pointer;
    color: black;
    background: #a1a1a1;
    border: none;
    margin-left: 10px;
    transition: all 0.3s ease-in-out;
}

#picsbox-panel button#picsbox-copy:hover {
    background: #6a6a6a;
}

#picsbox-panel img#picsbox-preview-image {
    max-width: 100%;
}

#picsbox-panel .picsbox-preview-container {
    position: relative;
}

#picsbox-panel .picsbox-preview-container #picsbox-remove-image i {
    position: absolute;
    top: 0;
    color: red;
}

#picsbox-panel .picsbox-copyright {
    text-align: left;
}

#picsbox-panel #picsbox-post-image .submit-buttons input.button1.disabled {
    display: none;
}

#picsbox-panel .picsbox-loader.active {
    margin: 0 auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: picsbox-spin 2s linear infinite; /* Safari */
    animation: picsbox-spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes picsbox-spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes picsbox-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
