<div class="panel bg2" style="text-align: center" id="picsbox-panel">
	<div style="position:relative;">
		<div data-picsbox-api-post="{{ ADY_PICSBOX_API_POST_IMAGE }}" id="picsbox-post-image">
			<div class="picsbox-upload-container">
				<input
						id="picsbox-upload"
						class="inputbox"
						type="file"
						name="image"
						accept="image/*"
						hidden
						data-picsbox-no-file-error="{{ lang('PICSBOX_UPLOAD_ERROR_NO_FILE') }}"
						data-picsbox-max-upload-size="{{ ADY_PICSBOX_MAX_UPLOAD_SIZE }}"
						data-picsbox-max-upload-size-error="{{ lang('PICSBOX_UPLOAD_ERROR_SIZE_FILE') }}"
						data-picsbox-mime-type-error="{{ lang('PICSBOX_UPLOAD_ERROR_MIME_TYPE') }}"
						data-picsbox-global-error="{{ lang('PICSBOX_GLOBAL_ERROR') }}"
						data-picsbox-tokens='{{ ADY_PICSBOX_TOKENS }}'
				>
				<label for="picsbox-upload">{{ lang('PICSBOX_CHOOSE_FILE') }}</label>
				<span id="file-chosen" data-text-origin="{{ lang('PICSBOX_NO_SELECTED_FILE') }}">{{ lang('PICSBOX_NO_SELECTED_FILE') }}</span>
			</div>
			<div class='panel'>
				<div class='inner'>
					<fieldset class='submit-buttons'>
						<small>{{ lang('PICSBOX_RESIZE_EXPLAIN') }}</small><br>
						<label>
							<select id="picsbox-resize-option">
								{% if ADY_PICSBOX_ALLOW_ORIGINAL_SIZE %}
								<option value="">{{ lang('PICSBOX_NO_RESIZE') }}</option>
								{% endif %}
								<option value="{{ constant('ady\\picsbox\\constant\\size::SMALL_MODE') }}">
									{{ lang('PICSBOX_SMALL_MODE') }}
								</option>
								<option value="{{ constant('ady\\picsbox\\constant\\size::THUMBNAIL_MODE') }}">
									{{ lang('PICSBOX_THUMBNAIL_MODE') }}
								</option>
								<option value="{{ constant('ady\\picsbox\\constant\\size::MEDIUM_MODE') }}">
									{{ lang('PICSBOX_MEDIUM_MODE') }}
								</option>
								<option value="{{ constant('ady\\picsbox\\constant\\size::NORMAL_MODE') }}" selected>
									{{ lang('PICSBOX_NORMAL_MODE') }}
								</option>
								<option value="{{ constant('ady\\picsbox\\constant\\size::FORUM_MODE') }}">
									{{ lang('PICSBOX_FORUM_MODE') }}
								</option>
							</select>
						</label>
					</fieldset>
					<fieldset class='submit-buttons'>
						<input class="button1" type="button" accesskey="s" tabindex="6" name="post"
							   value="{{ lang('SUBMIT') }}"/>
					</fieldset>
					<div class="picsbox-loader"></div>
				</div>
			</div>
			<div id="picsbox-result">
				<div class="picsbox-bbcode-container">
					<label for="picsbox-bbcode-image" hidden></label>
					<input id="picsbox-bbcode-image">
					<button id="picsbox-copy" type="button" title="{{ lang('PICSBOX_CLIPBOARD') }}"><i
							class="fa fa-clipboard"></i></button>
				</div>
				<div class="picsbox-preview-container">
					<img src="" id="picsbox-preview-image" alt="Preview">
					<button
							type="button"
							id="picsbox-remove-image"
							title="{{ lang('PICSBOX_REMOVE_IMAGE_BUTTON') }}"
							data-information="{{ lang('PICSBOX_REMOVE_IMAGE_INFORMATION') }}"
							data-filename=""
							data-picsbox-api-delete="{{ ADY_PICSBOX_API_DELETE_IMAGE }}"
					>
						<i class="fa fa-trash"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="picsbox-copyright">
		<img src="{{ ADY_PICSBOX_ICON_ROUTE }}" width="20" alt="">&nbsp;<small>{{ lang('PICSBOX_TAB_COPYRIGHT')
		}}</small>
	</div>
</div>
